html, body {
	height: 100%;
}

body {
	font-style:Arial, sans-serif;
	background-color:#F1F1F1;
	max-width: 100%;
}

.dk-hugesearch-button {
	position: absolute;
	width: 80px;
	height: 80px;
	text-indent: 100px;
	overflow: hidden;
	margin-top: 10px ;
	background:transparent url(../magnifier.svg) no-repeat center center;
	background-size: 80px;
	border: none;
	right: 100px;
	top: 60px;
}

.dk-hugesearch-input {
	width: 800px;
	height: 100px;
	padding: 10px 80px 10px 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 80px;
	color: #ec5a62;
	margin-top: 50px;
	margin-left: 50px;

}


.dk-column {
	display: inline-block;
	width: 30%;
	font-size: 12px;
}

.dk-hugesearch-list a{
	display: block;
	text-decoration: none;
	background-color:rgba(118,117,128,0.05);
	border-radius:8px;
	padding: 7px;
}

.dk-hugesearch-list li {
	list-style-type: none;
	margin-top: 10px;
	padding: 10px;
}

.dk-hugesearch-list h3{
	color: #C2C2C2;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;

}
.dk-column h2 {
	margin-left: 45px;
	color: #C2C2C2;
	text-transform: uppercase;

}

.dk-circle {
	border-radius:50%;
}

.dk-column:nth-child(2) {
	margin-left: 15px;
	margin-right: 15px;
}

.dk-column:first-child {
	margin-left: 15px;
}

.dk-column:nth-child(3) {
	margin-right: 15px;
}

.dk-hugesearch-list h3, .dk-hugesearch-list img {
	vertical-align: middle;
}

.dk-hugesearch-list li + li {
	margin-top: -15px;
}

.dk-hugesearch-list h3:hover {
	color:#ec5a62;;
}

.dk-hugesearch-list a:hover {
	background-color: rgba(118,117,128,0.1);
}
